# Logs
TicTacToe/logs
*.log
TicTacToe/npm-debug.log*
TicTacToe/yarn-debug.log*
TicTacToe/yarn-error.log*
TicTacToe/pnpm-debug.log*
TicTacToe/lerna-debug.log*

TicTacToe/node_modules
TicTacToe/.DS_Store
TicTacToe/dist
TicTacToe/dist-ssr
TicTacToecoverage
*.local

TicTacToe/cypress/videos/
TicTacToe/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
